:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --light-purple: hsl(227, 100%, 98%);
  --light-blue: hsl(212, 100%, 50%);
  --navy-blue: hsl(222, 41%, 20%);
  --light-navy-blue: hsl(217, 21%, 21%);
  --dark-navy-blue: hsl(220, 40%, 13%);
}

body {
  background-color: var(--dark-navy-blue);
  font-family: 'Space Mono', sans-serif;
  font-size: 0.813rem;
  line-height: 1.563rem;
  color: var(--white);
}

h3 {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 2.407rem;
}

.white-theme {
  background-color: var(--light-purple);
  color: var(--light-nav);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 60%;
  margin: auto;
}

/* Sections */

#top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#search-username {
  display: flex;
  align-items: center;
  padding: 1.37rem 2rem;
  background-color: var(--navy-blue);
  border-radius: 0.9375rem;
}

#main-section {
  display: flex;
  margin-top: 1.5rem;
  padding: 3rem 3rem;
  background-color: var(--navy-blue);
  border-radius: 0.9375rem;
}

.mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-family: 'Space Mono', sans-serif;
  font-size: 0.813rem;
  line-height: 1.563rem;
  color: var(--white);
  border-color: transparent;
  text-transform: uppercase;
  width: 10%;
}

.search-input {
  border: transparent solid 2px;
  background-color: var(--navy-blue);
  width: 18rem;
  color: var(--white);
  font-family: 'Space Mono', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
}

.search-input::placeholder {
  outline-width: 0;
  color: var(--white);
  opacity: 10; /* Firefox */
  font-family: 'Space Mono', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 138.889% */
}

.search-input:focus {
  outline-width: 0;
}

.search-input:focus::placeholder {
  visibility: hidden;
}

.search-icon {
  margin-right: 1.5rem;
  width: 1.50363rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.search-button {
  width: 6.625rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: var(--light-blue);
  border-color: transparent;
  margin-left: auto;
  color: var(--white);
  font-family: 'Space Mono', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
}

/* Main section classes */

.github-avatar {
  width: 7.3125rem;
  height: 7.3125rem;
  border-radius: 7.3125rem;
}

.github-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github-user-details {
  margin-left: 2.31rem;
  font-size: 1.625rem;
  font-weight: 700;
  width: 100%;
}

.github-name {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: normal;
}

.github-joined-date {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: normal;
}

.github-login {
  color: var(--light-blue);
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

.github-bio {
  margin-top: 1.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  opacity: 0.75;
}

.github-repo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dark-navy-blue);
  padding: 0.94rem 2rem;
  margin-top: 2rem;
  border-radius: 0.625rem;
}

.github-repo-detail {
  display: flex;
  flex-direction: column;
}

.github-repo-title {
  font-size: 0.8125rem;
  font-weight: 400;
}

.github-repo-number {
  font-size: 1.375rem;
  font-weight: 700;
}

.github-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.22rem;
}

.github-contact > div {
  width: 50%;
}

.github-media {
  font-size: 0.9375rem;
  font-weight: 400;
  margin-top: 1.19rem;
}

.media-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(287deg) brightness(106%) contrast(105%);
  color: var(--white);
}
